.grid{
  border:0px solid lightgray; height: 60px;
  display: grid;
  height: 100px;
  align-content: space-evenly;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-gap: 10px;
  padding: 10px;
}

.bold{
  font-size : 18px; color:gray
}
 div{
  border: 0px solid gray;
  padding: 10px;
  margin: 10px;
 }
 a {
   font-size: 13px; color:gray;
   text-align: left;
   text-decoration: none; color: gray;}
 a:visited {text-decoration: none;}
 a:active {text-decoration: none; color: skyblue;}
 a:hover {text-decoration: none; color: skyblue;}
