body{
  margin:0;
}

h1 {
  font-size:24px;
  text-align: left;
  margin:0;
  padding:20px;
}
ol{
  text-align: left;
  font-size: 18px;
  border-right:0px
}
li{
  color: gray;
  font-size:14px;
  margin: 5px;
  list-style: none;
}
